#main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-bottom: 1rem;
  background: #fff;
}

#main-nav-brand {
  font-size: 1.6rem;
  font-weight: 700;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  border: none;
  background: none;
}

.nav-link:hover {
  color: #117a65;
  cursor: pointer;
}
