.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

#blog-form {
  padding: 2rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

#login-form {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border: 0.1rem solid #ddd;
  border-radius: 0.5rem;
}

.form-heading {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.4rem;
  color: #222;
  font-weight: 700;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #666;
}

.form-input {
  padding: 0.5rem;
  border: 0.1rem solid #ddd;
  color: #666;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt #16a085;
}

.form-submit {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #16a085;
  color: #fff;
}

.form-submit:hover {
  cursor: pointer;
  background-color: #117a65;
}

.error {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #f1948a;
  color: #a93226;
  font-size: 1rem;
}
